<ul>
  <li><a href="/">Обо мне</a></li>
</ul>

<main>
    <h1>Дарья Тихомирова</h1>
    <h2>Будущая Rails-разработчик!</h2>
    <hr>
    <section>
        <h2>Ключевые навыки:</h2>
        <ul>
            <li>Ruby On Rails</li>
            <li>Ruby</li>
            <li>JavaScript</li>
        </ul>
    </section>
    <section>
        <h2>О Обо мне</h2>
        <p>Пока учусь</p>
    </section>
</main>